{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <!-- Navigation -->
        {% include 'TdsBundle:Default:templates/nav.html.twig' %}

        <div id="page-wrapper">
            <div id="main-container"></div>
        </div>

        <div id="container-fluid">

            {% include 'TdsBundle:Default:dashboard.html.twig' %}
            {% include 'TdsBundle:Default:administration.html.twig' %}
            {% include 'TdsBundle:Default:tds/tds.html.twig' %}
            {% include 'TdsBundle:Default:tds/tdsList.html.twig' %}

            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-3.1.0.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-ui.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/underscore/underscore-min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/backbone/backbone-min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/js/gridstack/gridstack.min.js') }}"></script>
            {% endblock %}

            {% javascripts
                '@TdsBundle/Resources/public/js/app.js'
                '@TdsBundle/Resources/public/js/router.js'
                '@TdsBundle/Resources/public/js/views/Dashboard.js'
                '@TdsBundle/Resources/public/js/views/Administration.js'
                '@TdsBundle/Resources/public/js/views/tds/Tds.js'
                '@TdsBundle/Resources/public/js/views/tds/TdsList.js'
                '@TdsBundle/Resources/public/js/models/Tds.js'
                '@TdsBundle/Resources/public/js/collections/Tds.js'
                '@TdsBundle/Resources/public/js/parser/TdsHtmlToJson.js'
                '@TdsBundle/Resources/public/js/parser/TdsJsonToHtml.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {# bootstrap app here, yeah lame... #}
            <script>
                $.fn.size = function(){
                  return this.length;
                };
                Tds.start();
            </script>
        </div>
    </div>
{% endblock %}