{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <!-- Navigation -->
        <div id="nav-container"></div>
        {% include 'TdsBundle:Tds:templates/nav.html.twig' %}

        <!-- Content -->
        <div id="page-wrapper">
            <div id="container-fluid">
                <div id="main-container"></div>

                {% include 'TdsBundle:Tds:dashboard.html.twig' %}
                {% include 'TdsBundle:Tds:modal.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setLabels.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setLang.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setPrefixes.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/segmentList.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/segment.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/trademarkList.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/trademark.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setProductStatuses.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/productStatuses.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setTrademarks.html.twig' %}
                {% include 'TdsBundle:Tds:templates/settings/setUnits.html.twig' %}
                {% include 'TdsBundle:Tds:templates/templates.html.twig' %}
                {% include 'TdsBundle:Tds:templates/translate.html.twig' %}
                {% include 'TdsBundle:Tds:templates/search-add-edit.html.twig' %}
                {% include 'TdsBundle:Tds:templates/filters/add.html.twig' %}
                {% include 'TdsBundle:Tds:templates/tds.html.twig' %}
                {% include 'TdsBundle:Tds:templates/tdsList.html.twig' %}

                {% block javascripts %}
                    <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-3.1.0.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-ui.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/underscore/underscore-min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/backbone/backbone-min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/gridstack/gridstack.min.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>

                    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

                {% endblock %}

                {% javascripts
                    '@TdsBundle/Resources/public/js/app.js'
                    '@TdsBundle/Resources/public/js/router.js'
                    '@TdsBundle/Resources/public/js/views/Dashboard.js'
                    '@TdsBundle/Resources/public/js/views/View.js'
                    '@TdsBundle/Resources/public/js/views/Modal.js'
                    '@TdsBundle/Resources/public/js/views/Navigation.js'
                    '@TdsBundle/Resources/public/js/views/settings/SegmentList.js'
                    '@TdsBundle/Resources/public/js/views/settings/Segment.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetProductStatuses.js'
                    '@TdsBundle/Resources/public/js/views/settings/ProductStatuses.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetTrademarks.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetPrefixes.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetLang.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetLabels.js'
                    '@TdsBundle/Resources/public/js/views/settings/SetUnits.js'
                    '@TdsBundle/Resources/public/js/views/filters/FilterList.js'
                    '@TdsBundle/Resources/public/js/views/filters/FilterAdd.js'
                    '@TdsBundle/Resources/public/js/views/Templates.js'
                    '@TdsBundle/Resources/public/js/views/Translate.js'
                    '@TdsBundle/Resources/public/js/views/tds/Tds.js'
                    '@TdsBundle/Resources/public/js/views/tds/TdsList.js'
                    '@TdsBundle/Resources/public/js/models/settings/Segment.js'
                    '@TdsBundle/Resources/public/js/models/settings/Trademark.js'
                    '@TdsBundle/Resources/public/js/models/settings/ProductStatus.js'
                    '@TdsBundle/Resources/public/js/models/tds/Tds.js'
                    '@TdsBundle/Resources/public/js/models/Navigation.js'
                    '@TdsBundle/Resources/public/js/models/OrganizationUnit.js'
                    '@TdsBundle/Resources/public/js/collections/settings/Segment.js'
                    '@TdsBundle/Resources/public/js/collections/settings/ProductStatus.js'
                    '@TdsBundle/Resources/public/js/collections/settings/Trademark.js'
                    '@TdsBundle/Resources/public/js/collections/tds/Tds.js'
                    '@TdsBundle/Resources/public/js/collections/Navigation.js'
                    '@TdsBundle/Resources/public/js/collections/OrganizationUnits.js'
                    '@TdsBundle/Resources/public/js/parser/TdsHtmlToJson.js'
                    '@TdsBundle/Resources/public/js/parser/TdsJsonToHtml.js'
                    '@TdsBundle/Resources/public/js/services/CollectionDataContainer.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}

                {# bootstrap app here, yeah lame... #}
                <script>
                    $.fn.size = function(){
                      return this.length;
                    };
                    Tds.start();
                </script>
            </div>
        </div>
    </div>
{% endblock %}