<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery/jquery-ui.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery/jquery-ui.structure.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery/jquery-ui.theme.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/gridstack/gridstack.min.css') }}">
            <!-- Custom CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/sb/sb-admin.css') }}">
            <!-- Custom Fonts -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}
    </body>
</html>
